html,body
{
    height: 100%;
    width: 100%;
    margin: 0;
}
.backimg
{
    height: 100%;
    width: 100%;
    background-image: url("../image/img3.jpg");
    background-size: cover;
    background-attachment: fixed;


}
.secondimg
{
    position: absolute;

    height: 100%;
    width: 100%;
    background-image: url("../image/img2.jpg");
    background-size: cover;
    background-attachment: fixed;

}